
body{
    background-color: #EEEEEE;
}
.alert {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    width: 40%;
    margin: 0 auto;
    animation: fadeIn 0.7s 1;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

  
table {
  border-collapse: separate !important;
  border-spacing: 0 15px !important; /* 0 per lo spazio orizzontale, 15px per quello verticale (il tuo gap) */
}

/* Opzionale: Rimuove i bordi standard di Bootstrap per un look più pulito */
table td, table th {
  border-bottom: none; 
}

thead th {
    background-color: lightseagreen !important;
    color: white !important;
}
 tr {
    border-radius: 20px !important;
    overflow: hidden !important;
}
.phone-number, .link-info {
    text-align: center;
    width: fit-content !important;
    margin: auto 0;
    border-radius: 5px;
    padding: 3px;
    font-weight: 700;
}

.phone-number {
    color: #63AD7F !important;
    font-size: 0.8rem;
    background-color: #EFF7F0 !important;
}

.link-info {
    color: #57C9EB !important;
    font-size: 1rem;
    background-color: #EEF9FD !important;
}

.user-logo {
    background-color: #CEDDF7 !important;
    color: #0D6EFD;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

td {
    vertical-align: middle !important;
    
}
